.tour{
    padding:100px 8%;
    background:#fff;
    text-align:center;
    overflow:hidden;
    cursor:default;
}

.tour h2{
    font-size:60px;
    line-height:1.2;
    margin-bottom:70px;
    font-weight:700;
}

.tour h2 span{
    color:#4663e7;
}

.tour-container{
    position:relative;
    width:100%;
    height:850px;
}

/* ---------------- AI BOX ---------------- */

.ai-box{
    animation:float 3s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform:translateX(-50%) translateY(0);
    }
    50%{
        transform:translateX(-50%) translateY(-5px);
    }
    100%{
        transform:translateX(-50%) translateY(0);
    }
}

.ai-title{
    font-size:30px;
    font-weight:600;
    display:flex;
    gap:10px;
    align-items:center;
}

.typing{
    min-height:35px;
    font-size:20px;
    font-weight:500;
    margin-top:12px;
    text-align:left;
}

@keyframes typing{

    0%{
        width:0;
    }
    50%{
        width:100%;
    }
    100%{
        width:0;
    }
}

@keyframes blink{
    50%{
        border-color:transparent;
    }
}

.chips{
    display:flex;
    gap:15px;
    margin-top:25px;
}

.chips span{
    padding:10px 20px;
    border:1px solid #d9d9d9;
    border-radius:30px;
    font-size:16px;
}

.laptop{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    top:130px;
    width:900px;
    height:540px;
    background:#111;
    border-radius:25px;
    padding:18px;
    box-shadow:0 20px 60px rgba(0,0,0,.25);
}

.canvas{
    position:relative;
    width:100%;
    height:100%;
    background:#eef5ff;
    border-radius:15px;
    overflow:hidden;
}

.shirt{
    position:absolute;
    width:280px;
    left:50%;
    top:90px;
    transform:translateX(-50%);
    transition:all .8s ease;
    object-fit:contain;
}

@keyframes shirtMove{
    from{
        transform:translateX(-50%) scale(1);
    }
    to{
        transform:translateX(-50%) scale(1.05);
    }
}

.selection{
    position:absolute;
    width:340px;
    height:340px;
    border:4px solid #4c68ff;
    left:50%;
    top:70px;
    transform:translateX(-50%);
}

.toolbar{
    position:absolute;
    top:20px;
    left:50%;
    transform:translateX(-50%);
    background:#fff;
    border-radius:40px;
    display:flex;
    gap:18px;
    padding:15px 25px;
    z-index:20;
}

.toolbar button{
    transition:.3s;
}

.toolbar button:hover{
    transform:scale(1.15);
}

.activeBtn{
    background:#4663e7 !important;
    color:#fff !important;
    border-radius:10px;
    transition:.3s;
}

.colors{
    position:absolute;
    bottom:40px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    align-items:center;
    gap:15px;
    background:white;
    padding:15px 22px;
    border-radius:50px;
    box-shadow:0 5px 20px rgba(0,0,0,.12);
}

.colors p{
    font-size:28px;
    margin-right:15px;
}

.colors span{
    width:28px;
    height:28px;
    border-radius:50%;
    display:inline-block;
    cursor:pointer;
    transition:.3s;
}

.blue{
    background:#4c68ff;
}

.pink{
    background:#ff4a78;
}

.green{
    background:#44c76f;
}

.black{
    background:#444;
}

.left-panel{
    position:absolute;
    left:120px;
    top:220px;
    width:110px;
    background:white;
    border-radius:25px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
    padding:25px;
}

.tool{
    margin:25px 0;
    cursor:pointer;
    transition:.3s;
}

.tool:hover{
    color:#4663e7;
    transform:scale(1.15);
}

.right-panel{
    position:absolute;
    right:110px;
    top:220px;
    width:270px;
    background:white;
    border-radius:20px;
    padding:25px;
    box-shadow:0 5px 20px rgba(0,0,0,.12);
}

.option{
    margin:25px 0;
}

.option p{
    margin-bottom:8px;
}

.option input{
    width:100%;
}

.remove{
    width:100%;
    padding:15px;
    border:none;
    background:#4663e7;
    color:white;
    border-radius:12px;
    cursor:pointer;
    transition:.3s;
}

.remove:hover{
    background:#2f49cf;
    transform:scale(1.03);
}

.bottom-panel{
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    width:420px;
    background:white;
    border-radius:25px;
    padding:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.font-list{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-top:15px;
}

.font-list button{
    width:65px;
    height:65px;
    border:none;
    border-radius:12px;
    background:#eef3ff;
    cursor:pointer;
    font-size:28px;
    transition:.3s;

}
.font-list button:hover{

    background:#4663e7;
    color:white;

}

.font-list button.active{
    background:#4663e7;
    color:#fff;
}

@media(max-width:1200px){
    .tour-container{
        transform:scale(.8);
        transform-origin:top center;
        height:700px;
    }
}

@media(max-width:768px){
    .tour h2{
        font-size:38px;
    }
    .tour-container{
        transform:scale(.52);
        height:520px;
    }

}
.cursor{
    font-weight:bold;
    color:#4663e7;
    animation:blink .8s infinite;
}

@keyframes blink{
    50%{
        opacity:0;
    }
}
.colors span{
    width:22px;
    height:22px;
    border-radius:50%;
    display:inline-block;
    margin:5px;
    cursor:pointer;
}
.blue{
    background:#4a90e2;
}
.pink{
    background:#d87b8b;
}
.green{
    background:#56b870;
}
.black{
    background:#222;
}
.activeColor{
    transform:scale(1.35);
    border:3px solid white;
    box-shadow:0 0 12px #4663e7;
}